*{
    font-family: 'Prompt', sans-serif;
    /* background-color: #CAF0F8; */
}

/* Estilos navegador */

  header nav {
    display: flex;
  }
  
  header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 20px;
  }

  .brand{
      padding: 10px;
      background-color: #0077B6;
      margin: 4px;
      border-radius: 34px 6px;
      margin-right: 70px;
      color: azure;
  }

  .brand h1{
      font-style: italic;
      padding: 6px;
      margin:6px;
      font-weight: 200;
  }

  .links{
      background-color: #ADE8F4;
      margin: 4px;
      border-radius: 34px 6px;
      font-weight: 400;
      color: #000000;
      padding: 32px;
  }
  header nav .menu .links {
    display: flex;
    padding-right: 2px;
  }

  header nav .menu .links a {
    padding: 16px 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 16px ;
    border-bottom: 2px solid transparent;
    transition: border 0.3s;
  }
  header nav .menu .links a:hover {
    border-bottom-color: #000000;
    text-shadow: #a4cedf 4px 2px ;
  }
  header nav .menu .links a.active {
    border-bottom-color: #4688dd;
  }

  @media (max-width: 1280px){
    .brand{
        padding: 8px;
        background-color: #0077B6;
        margin: 4px;
        border-radius: 34px 6px;
        margin-right: 40px;
        color: azure;
        width: 16%;
    }
    .brand h1{
        font-style: italic;
        padding: 2px;
        margin:6px;
        font-weight: 200;
    }
    .links{
        background-color: #ADE8F4;
        margin: 0px;
        border-radius: 34px 6px;
        font-weight: 400;
        color: #000000;
        padding: 2%;
    }
  }

  @media (max-width: 1180px){
    .brand{
        padding: 8px;
        background-color: #0077B6;
        margin: 4px;
        border-radius: 34px 6px;
        margin-right: 40px;
        color: azure;
        width: 8%;
    }
    .brand h1{
        font-style: italic;
        padding: 1%;
        margin:0%;
        margin-left: -2%;
        font-weight: 200;
    }
    .links{
        background-color: #ADE8F4;
        margin: 0px;
        border-radius: 34px 6px;
        font-weight: 400;
        color: #000000;
        padding: 2%;
        font-size: 14px;
    }
  }
  @media (max-width: 1000px){
    .brand{
        padding: 8px;
        background-color: #0077B6;
        margin: 8px;
        border-radius: 34px 6px;
        margin-right: 40px;
        color: azure;
        width: 8%;
    }
    .brand h1{
        font-style: italic;
        padding: 1%;
        margin:0%;
        margin-left: -2%;
        font-weight: 200;
        font-size: 14px;
    }
    .links{
        background-color: #ADE8F4;
        margin: 0px;
        border-radius: 34px 6px;
        font-weight: 400;
        color: #000000;
        padding: 2%;
        font-size: 10px;
    }
  }

  @media (max-width: 800px){
    .brand{
        padding: 8px;
        background-color: #0077B6;
        margin: 8px;
        border-radius: 34px 6px;
        margin-right: 40px;
        color: azure;
        width: 8%;
    }
    .brand h1{
        font-style: italic;
        padding: 1%;
        margin:0%;
        margin-left: -2%;
        font-weight: 200;
        font-size: 12px;
    }
    .links{
        background-color: #ADE8F4;
        margin: 0px;
        border-radius: 34px 6px;
        font-weight: 400;
        color: #000000;
        padding: 2%;
        font-size: 8px;
    }
  }
/* Estilos navegador */


/* Estilos pie de pagina */
footer{
    width: 100%;
    padding: 1px;
    background-image: url("./../media/olas.png");
    background-size: cover;
}

.container_footer{
    display: flex;/*Para que las columnas queden separadas*/
    flex-wrap: wrap;/*para las columnas se pongas de bajo de otra*/
    justify-content: space-between;/*Es la funcion para lo que este dentro de esa clase ocupe todo el ancho de la pantalla*/
    max-width: 1200px;
    margin: auto; /*para centrar el contenido*/
    margin-top: 100px;
}

.box_footer{
    display: flex;/*Para que los bloques queden separados*/
    flex-direction: column;/*Esto es para que los bloques queden como columnas*/
    padding: 40px;
}

.box_footer .logo img{
    width: 180px;/*Tamaño de la imagen*/
}

.box_footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #000000;
    font-size: 17px;
}
.box_footer h2{
    margin-bottom: 30px;/*Espaciado para los titulos y los links*/
    color: #ffffff;
    font-weight: 700;
}
.box_footer a{
    margin-top: 20px;
    color: #000000;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}

.box_footer a:hover{
    opacity: 0.8;
    color: white;
}

.box_footer a .redes{
    width: 44px;
    float: left;
    margin-right: 2%;
}

.box_copyright{
    max-width: 1200px;
    margin: auto; 
    text-align: center;
    padding: 0px 40px;
}

.box_copyright p{
    margin-top: 20px;
    color: #ffffff;
    font-weight: 500;
}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #000000;
}

.terms img{
    width: 220px;
}

.terms img:hover{
    box-shadow: 2px 2px 2px 1px rgba(233, 232, 232, 0.6);
    border-radius: 16px;
    padding: 4px;
}
/* Terminan los estilos del pie de pagina */

/* Estilos pagina AQUARIUM */
video::-webkit-media-controls {
    display: none;
}

.presentacionVid{
    width: 74%;
    margin-left: 50px;
    border-radius: 12px;
    box-shadow: 2px 6px 12px 1px rgba(20, 20, 20, 0.6);
}

 .submenu{
    width: 20%;
    float: right; /* Flotar las secciones del lado izquierdo */
  }
  .submenu a{
    background-color: #48CAE4;
    border-radius: 20px 10px;
    margin: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    box-shadow: 2px 6px 8px 1px rgba(20, 20, 20, 0.6);
    display: block; /* Para que no se junte y ocupe su propia linea */
  }

  .title{
      text-align: center;
      font-weight: 500;
      font-style: italic;
  }

  .submenu a:hover{
    background-color: #33555c;
  }

  .info1{
    margin: 3%;
    width: 62%;
    color: #03045E;
    border-radius: 5px;
    /*border:1px solid black; */
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 1px 0 6px rgba(23, 158, 221, 0.623);
    float: right;
  }
  .info2{
    margin: 3%;
    width: 62%;
    color: #03045E;
    border-radius: 5px;
    /*border:1px solid black; */
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 1px 0 6px rgba(23, 158, 221, 0.623);
    float: left;
  }

  .info3{
    margin: 3%;
    width: 92%;
    color: #03045E;
    border-radius: 5px;
    /*border:1px solid black; */
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 1px 8px 20px rgba(33, 91, 117, 0.623);
  }

  .imagen1{
    float: left;
    width: 20%;
    border-radius: 20px;
    margin: 25px;
    margin-top: 90px;
    margin-bottom: 300px;
  }

  .imagen2{
    width: 20%;
    border-radius: 20px;
    margin: 25px;
    margin-top: 90px;
    margin-bottom: 300px;
    float: right;
  }

  .resalta{
      font-weight: 500;
      color: #3480e2;
  }  

  .Youtube{
      margin: auto;
      width: 100%;
  }

  .divicion{
      width: 100%;
      margin-top: -10px;
      border-radius: 12px;
      opacity: .8;
      height: 200px;
  }

  .imgSection{
      width: 40%;
      margin: 40px;
     margin-left: 28%;
  }

  .Especies{
      width: 17%;
      border-radius: 26px;
      padding: 1%;
  }

  .generalEspecies{
      width: 99%;
      height: 4%;
      border-radius: 20px;
      margin-left: 3%;
  }

  .generalEspecies img:hover{
    box-shadow: 1px 8px 20px rgba(54, 167, 219, 0.623);
    padding: 2px;
}

  .generalEspeciesText{
    width: 99%;
    border-radius: 20px;
    margin-left: 3%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.generalEspeciesText h3{
    width: 100%;
    margin-left: 1%;
    margin-top: -2px;
    font-size: 14px;
}

.fix{
    margin-left: -10px;
}

  .despliegueEspecies{
      width: 74%;
      height: 440px;
      border-radius: 12px;
      background-color: #CAF0F8;
      margin-left: 9%;
  }

  .peceraBody{
    background-image: url(/media/pecera.jpg);
    background-size: 900px;
}

.nombreEspecie{
    margin-left: 19%;
    color: white;
}

.descEspecie{
    margin-left: 5%;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.imagenPecera{
   width: 40%;
   margin-top: 0px;
    margin-left: 30%;
    border-radius: 50%;
    border: 4px dashed rgb(49, 167, 214);
    box-shadow: 1px 8px 40px rgba(50, 113, 143, 0.74);
}
  
/* Termina estilos pagina AQUARIUM */

/*Aqui Empiza los estilos para la pagina Animales Marinos Extintos*/
.fondofoca {
    background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("https://cumbrepuebloscop20.org/wp-content/uploads/2018/06/domi-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15%;
    margin-top: -4%;
}

.escritura {
    margin-left: 30%;
    transform: translateY(-180%);
}

.letras {

    overflow: hidden;
    white-space: nowrap;
    font-size: 3em;
    color: #ffffff;
    width: 73%;
    border-right: 2px solid rgba(0, 0, 0, 0.87);
    animation: animacionIntro 3s steps(23, end),
        animacionBar 3s step-end infinite;
}

@keyframes animacionIntro {
    0% {
        width: 0;
    }

    100% {
        width: 73%;
    }
}

@keyframes animacionBar {

    0%,
    100% {
        border-color: rgba(0, 48, 204, 0.87);
    }

    50% {
        border-color: rgba(0, 48, 204, 0.87);
    }
}

.p {
    font-size: 30px;
    text-align: center;
    color: #02a2ff;
    font-weight: 600;
}

.apartado {
    background: linear-gradient(rgba(71, 71, 71, 0.363), rgba(0, 0, 0, 0.404)), #028dff;
    padding-top: 12%;
}

.apartado2 {
    background: linear-gradient(rgba(71, 71, 71, 0.363), rgba(0, 0, 0, 0.404)), #029aff;
    padding-top: 12%;
}

.centro{
    font-size: 20px;
    color: #f8f8f8;
    font-weight: 400;
    transform: translateY(-140px);
}
.centro2 {
    font-size: 20px;
    color: #f8f8f8;
    font-weight: 400;
    transform: translateY(-150px);

}

.centro p {
    padding-top: 5%;
    padding-left: 40%;
    text-align: justify;
}

.centro2 p {
    padding-top: 5%;
    text-align: justify;
}

.centro img {
    float: left;
    width: 45%;
}

.centro2 img {
    float: right;
    width: 40%;
    padding-left: 1%;
}
.animales{
    display: flex;
    /*Para que las columnas queden separadas*/
    flex-wrap: wrap;
    /*para las columnas se pongas de bajo de otra*/
    justify-content: space-between;
    /*Es la funcion para lo que este dentro de esa clase ocupe todo el ancho de la pantalla*/
    max-width: 1200px;
    margin: auto;
    /*para centrar el contenido*/
    margin-top: 100px;
}
.container_animals{
    display: flex;
    /*Para que los bloques queden separados*/
    flex-direction: column;
    /*Esto es para que los bloques queden como columnas*/
    padding: 30px;
}

.container_animals img{
    width: 500px;
    height: 280px;
    border-radius: 15px;
}

.container_animals a{
    margin-top: 20px;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.container_animals a:hover{
    color: #028dff;
}


@media (max-width: 1200px) {
    .escritura {
        margin-left: 15%;
        transform: translateY(-150%);
    }

    .letras {

        overflow: hidden;
        white-space: nowrap;
        font-size: 3.5em;
        color: #ffffff;
        width:78%;
        border-right: 2px solid rgba(0, 0, 0, 0.87);
        animation: animacionIntro 3s steps(23, end),
            animacionBar 3s step-end infinite;
    }

    @keyframes animacionIntro {
        0% {
            width: 0;
        }

        100% {
            width: 78%;
        }
    }

    .centro,
.centro2 {
    font-size: 20px;
    color: #f8f8f8;
    font-weight: 400;
    transform: translateY(0px);

}
.centro p {
    transform: translateY(-130px);
    padding-left: 46%;
    text-align: justify;
}

.centro2 p {
    transform: translateY(-120px);
    text-align: justify;
}
.centro img {
    float: left;
    width: 45%;
    transform: translateY(-90px);
}
.centro2 img {
    float: right;
    width: 50%;
    padding-left: 1%;
    transform: translateY(-110px);
}
.animales{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   text-align: center;

}
.container_animals img{
    width: 85%;
    height: 200px;
    border-radius: 15px;
}
}


@media (max-width: 700px) {
    .escritura {
        margin-left: 15%;
        transform: translateY(-160%);
    }

    .letras {

        overflow: hidden;
        font-family: Helvetica, sans-serif;
        white-space: nowrap;
        font-size: 2em;
        color: #ffffff;
        width: 78%;
        border-right: 2px solid rgba(0, 0, 0, 0.87);
        animation: animacionIntro 3s steps(23, end),
            animacionBar 3s step-end infinite;
    }

    @keyframes animacionIntro {
        0% {
            width: 0;
        }

        100% {
            width: 78%;
        }
    }


.centro p {
    transform: translateY(-80px);
    padding-left: 46%;
    text-align: justify;
}

.centro2 p {
    transform: translateY(-80px);
    text-align: justify;
}
.centro img {
    float: left;
    width: 45%;
    transform: translateY(50px);
}
.centro2 img {
    float: right;
    width: 50%;
    padding-left: 1%;
    transform: translateY(-78px);
}
.animales{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   text-align: center;

}
.container_animals img{
    width: 100%;
    height: 150px;
    border-radius: 15px;
}
}


@media (max-width: 500px) {
    .escritura {
        margin-left: 14%;
        transform: translateY(-200%);
    }

    .letras {

        overflow: hidden;
        white-space: nowrap;
        font-size: 20px;
        color: #ffffff;
        width: 95%;
        border-right: 2px solid rgba(0, 0, 0, 0.87);
        animation: animacionIntro 3s steps(23, end),
            animacionBar 3s step-end infinite;
    }

    @keyframes animacionIntro {
        0% {
            width: 0;
        }

        100% {
            width: 95%;
        }
    }

    .centro,
.centro2 {
    font-size: 15px;
    color: #f8f8f8;
    font-weight: 400;
    transform: translateY(40px);

}
.centro p {
    transform: translateY(-80px);
    padding-left: 46%;
    text-align: justify;
}

.centro2 p {
    transform: translateY(-80px);
    text-align: justify;
}
.centro2 img {
    float: right;
    width: 50%;
    padding-left: 1%;
    transform: translateY(-70px);
}

.animales{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   text-align: center;
   

}
.container_animals img{
    width: 100%;
    height: 150px;
    border-radius: 15px;
}

}

/*Aqui Termina los estilos para la pagina Animales Marinos Extintos*/

/*Aqui comienza los estilos para la pagina de chat*/


.tran{
    opacity: 0.8;
    position: center;
    margin-left: 18%;
  }

  .chatBotter{
      border: 4px solid #0076b6cb;
      border-radius: 26px;
      width: 96%;
      padding: 10px;
      opacity: .9;
      box-shadow: 12px 12px 2px 1px rgba(21, 91, 182, 0.342);
      background-image: url("https://eskipaper.com/images/ocean-wallpaper-5.jpg");
  }

  .chatBotter h1, h3, li{
      color: #f1f4f5;
      opacity: 1;
  }
/*Aqui termina los estilos par la pagina chat*/

/* -------------------------- Estilos de la pagina prevencion -----------------------*/ 

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:#03045E;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}

#header-prevencion{
    width: 100%;
    height: 600px;
    background: #7F7FD5; 
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(176, 68%, 74%, 0.626), hsla(219, 67%, 72%, 0.607), hsla(240, 51%, 67%, 0.603)), url(./../media/portada-prevencion.jpeg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(176, 68%, 74%, 0.626), hsla(219, 67%, 72%, 0.607), hsla(240, 51%, 67%, 0.603)), url(./../media/portada-prevencion.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.texto-principal {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.texto-principal h1 {
    font-size: 50px;
    color: #fff
}

.texto-principal h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.intro-informacion-ayudar {
    text-align: justify;
}

/* pagina prevencion tips */

.contenido-textos {
    display: flex;
    justify-content: space-evenly;
}

.imagen-informacion-general {
    width: 40%;
}

.informacion-ayuda .contenido-textos-parrafo {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
    color: #0077B6;
}

.contenido-textos h3 span {
    background: #0077B6;
    color: #fff;
    border-radius: 60%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px, 0px, 30px, 15px;
    font-weight: 300;
    text-align: justify;
}


/* Ocean cleanup */

.organization-1 {
    background-color: #f2f2f2;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1);
    background: hsla(217, 76%, 39%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(0);
}

.intro-ocean-cleanup p {
    margin: 16px 29px;
    text-align: justify;
}

/* Otras organizaciones */

.cards {
    display: flex;
    justify-content:space-evenly;
}

.cards .card {
    background: #0077B6;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

/* ----------------------   Cómo empezar hoy  -----------------*/

.final-tips {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.final-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final-ind {
    width: 28%;
    text-align: center;
}

.final-ind img{
    width: 90%;
}

.final-ind h3 {
    margin: 10px 0;
    color: black
}

.final-ind p {
    font-weight: 300;
    text-align: justify;
}

/* ------------------  Aquí termina Prevención  ---------------------- */
/*Aqui termina los estilos para la pagina chat*/
